.cardsContainer {
    padding: 0.4rem;
    white-space: nowrap;
    transform: translateY(20px);
    transition: transform 0.5s;
}

.animationWrapper {
    pointer-events: none;
    position: fixed;
    width: 100%;
    bottom: 0px;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.75s;
}

.animationWrapper.visible {
    opacity: 1;
    transform: translateY(0px);
}